html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: fixed;
  left: 50%;
  max-width: 800px;
  margin: 10px auto;
  background-image: url('../public/avatar.png');
  background-repeat: no-repeat;
  color: white;
  /* 新增 */
  font-size: 46px;
  font-weight: 600;
  transform: translateX(-50%);
}
